
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Contact</h2>
<address>
    Himanshu Mehra<br />
    Sakshi Patne<br />
    Diksha Singh<br />
    Nishu Kumari<br />
    Mohd Nawaz Khan<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
