<div class="jumbotron">
    <h1>Learning Management System</h1>
    <p class="lead">Learn and get Expert...!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>Get Different Courses and Enroll...! </p>
        @*<p><a class="btn btn-default" href="">Click for more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>My Progress</h2>
        <p>See my Progress...!</p>
        @*<p><a class="btn btn-default" href="">Click for more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Student Progress</h2>
        <p>See all students Progress...!</p>
        @*<p><a class="btn btn-default" href="">Click for more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Take Test</h2>
        <p>Take Test and Score Well...!</p>
        @*<p><a class="btn btn-default" href="">Click more &raquo;</a></p>*@
    </div>
</div>
