@{
    ViewBag.Title = "About Learning Management System";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    Learning Management System (LMS) is an application, which develops a user interface for
    Learning Management for students to enroll to the courses and track their progress. It provides
    provision for employees to register themselves, browse through the courses and & take the
    course and it should also help users to test their knowledge by appearing to the tests.
</p>
