@{
    ViewBag.Title = "Contact Details Of Team Members";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<address>
    Himanshu Mehra<br />
    Sakshi Patne<br />
    Diksha Singh<br />
    Nishu Kumari<br />
    Mohd Nawaz Khan<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>