<!--@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Learning Management System</h1>
    <p class="lead">Learn and get Expert...!</p>
</div>
<div>
    <img style="align-self:center" src="\image0001.jpeg" width="500" height="250" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Students List</h2>
        <p>Registered Students...! </p>-->
@*<p><a class="btn btn-default" href="">Click for more &raquo;</a></p>*@
<!--</div>

<div class="col-md-4">
    <h2>Courses</h2>
    <p>Get Different Courses and Enroll Student to the course...! </p>-->
@*<p><a class="btn btn-default" href="">Click for more &raquo;</a></p>*@
<!--</div>

<div class="col-md-4">
    <h2>Student Progress</h2>
    <p>See all students Progress...!</p>-->
@*<p><a class="btn btn-default" href="">Click for more &raquo;</a></p>*@
<!--</div>
<div class="col-md-4">
    <h2>Student Courses</h2>
    <p>Get Different Courses and Enroll...! </p>-->
@*<p><a class="btn btn-default" href="">Click for more &raquo;</a></p>*@
<!--</div>
<div class="col-md-4">
    <h2>My Progress</h2>
    <p>See my Progress...!</p>-->
@*<p><a class="btn btn-default" href="">Click for more &raquo;</a></p>*@
<!--</div>
<div class="col-md-4">
    <h2>Take Test</h2>
    <p>Take Test and Score Well...!</p>-->
@*<p><a class="btn btn-default" href="">Click more &raquo;</a></p>*@
<!--</div>

<div class="col-md-4">
    <h2>Certificate</h2>
    <p>Get Certificate for the Course you have learned...!</p>-->
@*<p><a class="btn btn-default" href="">Click more &raquo;</a></p>*@
<!--</div>
</div>-->



@{
    ViewBag.Title = "Home Page";
}
<div class="single-slider bg_cover pt-150" style="background-image: url('../../Template/images/slider/s-1.jpg'); " data-overlay="4">

    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-9">
                <div class="slider-cont">
                    <h1 data-animation="bounceInLeft" data-delay="1s">Learning Management System</h1>
                    <p data-animation="fadeInUp" data-delay="1.3s">Learn and get expert.</p>

                </div>
            </div>
        </div>
    </div>
</div>

<section id="category-part">
    <div class="container">
        <div class="category pt-40 pb-80">
            <div class="row">
                <div class="col-lg-4">
                    <div class="category-text pt-40">
                        <h2>Best platform to learn everything</h2>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                    <div class="row category-slied mt-40">
                        <div class="col-lg-4">
                            <a href="#">
                                <span class="singel-category text-center color-1">
                                    <span class="icon">
                                        <img src="~/Template/images/all-icon/ctg-1.png" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>Progreamming Language</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="#">
                                <span class="singel-category text-center color-2">
                                    <span class="icon">
                                        <img src="~/Template/images/all-icon/ctg-2.png" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>Scripting Language</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="#">
                                <span class="singel-category text-center color-3">
                                    <span class="icon">
                                        <img src="~/Template/images/all-icon/ctg-3.png" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>Front End</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="course-part" class="pt-80 pb-100" style="background-color:lightseagreen" >
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h2>Features</h2>
                </div>   
            </div>
        </div>  
        <div class="row course-slied mt-30">
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="~/Template/images/course/cu-1.jpg" alt="Course">
                        </div>
                    </div>
                    <div class="cont">
                        <a href="courses-singel.html"><h4>Courses</h4></a>
                    </div>
                </div>   
            </div>
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="~/Template/images/course/cu-2.jpg" alt="Course">
                        </div>
                    </div>
                    <div class="cont">
                        <a href="courses-singel.html"><h4>My Progress</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="~/Template/images/course/cu-3.jpg" alt="Course">
                        </div>
                    </div>
                    <div class="cont">
                        <a href="courses-singel.html"><h4>Take Test & Get Certificate</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

